<div class="courses-containers">
  <h3>Course Details</h3>
</div>
<!-- <div class="course-details">
  <mat-card>
      <mat-card-header>
          <mat-card-title>
              <span *ngIf="selectedCourse?.id; else elseBlock">
                  {{originalTitle | titlecase}}
              </span>
              <ng-template #elseBlock>Select a Course</ng-template>
          </mat-card-title>
      </mat-card-header>
      <form #form="ngForm" (submit)="saveCourse(selectedCourse)">
          <mat-card-content>
          <mat-form-field class="full-width">
              <input
              matInput
              placeholder="title"
              [(ngModel)]="selectedCourse.title"
              name="title"
              type="text"
              required>
          </mat-form-field>
          <mat-form-field class="full-width">
              <h4>{{selectedCourse.percentComplete}}% Complete</h4>
              <textarea
              matInput
              placeholder="description"
              [(ngModel)]="selectedCourse.description"
              name="description"
              type="text"></textarea>
          </mat-form-field>
          <section class="full-width">
              <mat-slider class="full-width" min="0"  max="100" thumbLabel [(ngModel)]="selectedCourse.percentComplete" name="percentComplete">
                  <input matSliderThumb >
              </mat-slider>
          </section>
          <section>
              <mat-checkbox [(ngModel)]="selectedCourse.favorite" name="favorite">
                  Favorite
              </mat-checkbox>
          </section>
          </mat-card-content>
          <mat-card-actions>
              <button type="submit" [disabled]="form.invalid" mat-button="primary">Save</button>
              <button type="button" mat-button (click)="reset()">Cancel</button>
          </mat-card-actions>
      </form>
      <hr>
      <pre>{{form.value | json}}</pre>
  </mat-card>
</div> -->