<div class="courses-containers">
  <div class="courses-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Course Outline </mat-card-title>
      </mat-card-header>
      <app-lessons
        [lessons]="lessons"
        (selected)="selectLesson($event)"
      ></app-lessons>
    </mat-card>
  </div>
  <div class="courses-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Current Lesson </mat-card-title>
      </mat-card-header>
      <pre>{{selectedLesson?.title}}</pre>
    </mat-card>
  </div>
</div>

